<!DOCTYPE HTML5>

<html>

    <head>

        <title>{{ title }}</title>

        <link rel="icon" type="image/png" href="favicon.ico">

        <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">

    </head>

    <body style="background: linear-gradient(to bottom right, #ffcc00 34%, #ff0066 100%); min-height: 100vh; display: flex; flex-direction: column; justify-content: space-between;">

        <nav class="navbar" role="navigation" aria-label="main navigation">
            
            <div class="navbar-brand">
            
                <a class="navbar-item" href="https://bulma.io">

                    <svg width="60" height="60" viewBox="0 0 100 100">
                    
                        <defs>
                    
                            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%">
                    
                                <stop offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
                    
                                <stop offset="100%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
                    
                            </linearGradient>
                    
                        </defs>
                    
                        <path d="M15 90 L15 10 L35 10 L35 50 L25 10 L85 10 L55 50 L85 90 L25 90 L35 50 L35 90 Z" fill="url(#grad1)" />
                    
                    </svg>

                </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbar" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  Home
                </a>
          
                <a class="navbar-item">
                  Documentation
                </a>
          
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    More
                  </a>
          
                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      About
                    </a>
                    <a class="navbar-item is-selected">
                      Jobs
                    </a>
                    <a class="navbar-item">
                      Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                      Report an issue
                    </a>
                  </div>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                      Log in
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </nav>

        <footer class="footer">

            <div class="content has-text-centered">

                <span class="icon-text">
                    
                    <span>Last update: 20 December 2024 | &#169; Icons by</span> 
                    
                    <span><a href="https://www.flaticon.com/authors/ruslan-babkin" target="_blank" class="has-text-primary">Ruslan Babkin</a></span>
                    
                    <span>and</span>
                    
                    <span><a href="https://www.flaticon.com/authors/freepik" target="_blank" class="has-text-primary">Freepik</a></span>
                    
                    <span>from flaticon |</span>
                    
                </span>
                
                <span class="icon-text">

                    <span>Powered by </span>
                    
                    <span class="icon">
                    
                        <img class="icon" src='icons/python-256.png' alt="Python">
                    
                    </span>
                    
                </span>

                <br>
                
                <span class="icon-text">
                    
                    <span>Made with</span> 

                    <span class="icon">
                    
                        <img class="icon" src='icons/pixel-heart-256.png' alt="Pixel Heart">
                    
                    </span> 
  
                    <span>in</span>
                    
                    <span class="icon">
                    
                        <img class="icon" src='icons/italy-256.png' alt="Italy">
                    
                    </span>

                </span>
                
            </div>
            
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bulma@0.9.3/js/bulma.min.js"></script>
        
    </body>

</html>