<!DOCTYPE HTML5>

<html>

    <head>

        <title>{{ title }}</title>

        <link rel="icon" type="image/png" href="favicon.ico">

        <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">

    </head>

    <body style="background: linear-gradient(to bottom right, #ffcc00 34%, #ff0066 100%); min-height: 100vh; display: flex; flex-direction: column; justify-content: space-between;">

        <nav class="navbar" role="navigation" aria-label="main navigation">
            
            <div class="navbar-brand">
          
              <a class="navbar-item" href="/">

                  <svg width="60" height="60" viewBox="0 0 100 100">
                  
                      <defs>
                  
                          <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%">
                  
                              <stop offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
                  
                              <stop offset="100%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
                  
                          </linearGradient>
                  
                      </defs>
                  
                      <path d="M15 90 L15 10 L35 10 L35 50 L25 10 L85 10 L55 50 L85 90 L25 90 L35 50 L35 90 Z" fill="url(#grad1)" />
                  
                  </svg>

              </a>

            </div>
          
            <div id="navbar" class="navbar-menu">

              <div class="navbar-start">

                {% comment %} <a class="navbar-item" href="/">
                    
                    Home
                  
                </a> {% endcomment %}
          
                <div class="navbar-item has-dropdown is-hoverable">

                    <a class="navbar-link">

                        More

                    </a>
          
                    <div class="navbar-dropdown">
                    
                    <a class="navbar-item has-text-danger" href="mailto:acarfagna03@gmail.com?subject=Report%20an%20issue%20--%20Karfee's%20Webroot">
                    
                      Report an issue
                    
                    </a>
                  
                  </div>
                
                </div>
              
              </div>
        
            </div>

        </nav>

        <div class="container">

            <div class="columns is-centered">

                <div class="column is-full">

                    <h1 class="title has-text-centered has-text-white">Benvenuto</h1>

                </div>

            </div>

            <div class="columns is-centered">

                <div class="column is-full">

                    <h2 id="contacts-text" class="subtitle has-text-centered has-text-white">Contatti:</h2>

                </div>

            </div>

            <div id="contacts" class="columns is-centered">

                <div class="column has-text-centered">

                    <a href="https://t.me/null_nekk" target="_blank"><img class="image is-64x64" src='icons/telegram-256.png'></a>

                </div>

                <div class="column has-text-centered">

                    <a href="https://github.com/Blasteed" target="_blank"><img class="image is-64x64" src='icons/github-256.png'></a>

                </div>

                <div class="column has-text-centered">

                    <a href="https://open.spotify.com/user/alezz2003?si=f474449f36654f96" target="_blank"><img class="image is-64x64" src='icons/spotify-256.png'></a>

                </div>

                <div class="column has-text-centered">

                    <a href="https://www.linkedin.com/in/alessandro-carfagna" target="_blank"><img class="image is-64x64" src='icons/linkedin-256.png'></a>

                </div>

                <div class="column has-text-centered">

                    <a href="mailto:acarfagna03@gmail.com?subject=Informations%20needed%20--%20Found%20your%20email%20on%20website%20" target="_blank"><img class="image is-64x64" src='icons/google-256.png'></a>
                    
                </div>

            </div>

        </div>

        <footer class="footer">

            <div class="content has-text-centered">

                <span class="icon-text">
                    
                    <span>Last update: 20 December 2024 | &#169; Icons by</span> 
                    
                    <span><a href="https://www.flaticon.com/authors/ruslan-babkin" target="_blank" class="has-text-primary">Ruslan Babkin</a></span>
                    
                    <span>and</span>
                    
                    <span><a href="https://www.flaticon.com/authors/freepik" target="_blank" class="has-text-primary">Freepik</a></span>
                    
                    <span>from flaticon |</span>
                    
                </span>
                
                <span class="icon-text">

                    <span>Powered by </span>
                    
                    <span class="icon">
                    
                        <img class="icon" src='icons/python-256.png' alt="Python">
                    
                    </span>
                    
                </span>

                <br>
                
                <span class="icon-text">
                    
                    <span>Made with</span> 

                    <span class="icon">
                    
                        <img class="icon" src='icons/pixel-heart-256.png' alt="Pixel Heart">
                    
                    </span> 
  
                    <span>in</span>
                    
                    <span class="icon">
                    
                        <img class="icon" src='icons/italy-256.png' alt="Italy">
                    
                    </span>

                </span>
                
            </div>
            
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bulma@0.9.3/js/bulma.min.js"></script>
        
    </body>

</html>